body {
    font-family: sans-serif;
  }
  
  .desktop {
    width: 90%;
    margin-left:5%;
    margin-top:40px;
  }
  
  div {
    border: solid 1px black;
    display: grid;
    box-sizing: border-box;
  }
  
  div p {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  #letters {
    margin: 40px 5% 40px 5%;
  }